

.consignes button{
	margin-top:25px;
}

#map {
	width: 100%;
	height: 100%;

}

.map_page{
	/*background: red;*/
	height: 100%;
}

.map_page .buttons_container{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.map_page .buttons_container > .btn{
	width: 100%;
	height: 50px;
	margin: 2px 0;
}

.map_page .buttons_container .btn-group{
	float: right;
}

.start .map_page .buttons_container .btn.signalDanger,
.start .map_page .buttons_container .btn.signalMeSafe,
.safe .map_page .buttons_container .btn.signalDanger,
.safe .map_page .buttons_container .btn.signalMeSafe{
	display: none;
}

.unsafe .map_page .buttons_container .btn.saveMe,
.safe .map_page .buttons_container .btn.saveMe{
	display: none;

}



.map_page .questions{
	position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: center;
}

.map_page .questions .step_1{
	
}

.map_page .questions button.catastrophe{
	width: 90px;
    height: 70px;
    margin: 5px;
}

