#map {
	width: 100%;
	height: 100%;
}

.map_page{
	/*background: red;*/
	height: 100%;
}

.map_page .buttons_container{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.map_page .buttons_container > .btn{
	width: 100%;
	height: 50px;
	margin: 2px 0;
}

.map_page .buttons_container .btn-group{
	float: right;
}

.start .map_page .buttons_container .btn.signalDanger,
.start .map_page .buttons_container .btn.signalMeSafe,
.safe .map_page .buttons_container .btn.signalDanger,
.safe .map_page .buttons_container .btn.signalMeSafe{
	display: none;
}

.unsafe .map_page .buttons_container .btn.saveMe,
.safe .map_page .buttons_container .btn.saveMe{
	display: none;
}

.map_page .questions{
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
    padding: 20px;
    text-align: center;
	display: none;
	z-index: 3;
}

.map_page .questions.active{
	display: block;
}

.map_page .questions .step{
	display: none;
}

.map_page .questions .step.active{
	display: block;
}

.map_page .questions button{
	width: 90px;
    height: 70px;
    margin: 5px;
}