<div class="map_page">
	<div class="questions" ng-class="{active: questions}">
		<div class="step" ng-class="{active: step == 1}">
			<button type="button" class="catastrophe">Inondation</button>
			<button type="button" class="catastrophe">Incendie</button>
			<button type="button" class="catastrophe">Séisme</button>
			<button type="button" class="catastrophe">Cyclone</button>
			<button type="button" class="catastrophe">Éruption</button>
			<button type="button" class="catastrophe">Tempêtes</button>
			<button type="button" class="catastrophe">Ouragans</button>
			<button type="button" class="catastrophe">Tsunami</button>
		</div>
		<div class="step" ng-class="{active: step == 2}">
			<button type="button">Inondation</button>
			<button type="button">Incendie</button>
		</div>
	</div>
	<div id="map" class="map_full"></div>
	<div class="row buttons_container"> 
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default" ng-class="{active: !car}"
				ng-click="toggleCar(false)"><img src="/img/Walking-24.png"><br>A pied</button>
			<button type="button" class="btn btn-default" ng-class="{active: car}"
				ng-click="toggleCar(true)"><img src="/img/Car-24.png"><br>Voiture</button>
		</div>
		<button type="button" class="saveMe btn btn-success col-md-12"
					onclick="location.assign('/game')">Jouer au jeu !</button>
		<button type="button" class="saveMe btn btn-success col-md-12"
					ng-click="saveMe()">Sauvez-Moi !</button>
		<button type="button" class="signalDanger btn btn-danger col-md-12"
					ng-click="">Signaler un danger imminent</button>
		<button type="button" class="signalMeSafe btn btn-success col-md-12"
					ng-click="signalMeSafe()">Je suis en sécurité</button>
	</div>
</div>