<html ng-app="SaveMe">
	<head>
		<title>SaveMe</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3cynWu6pM9IPxCo9rrTjd9pA7G76OAkI"></script>

		<script>
			var saveMe = angular.module('SaveMe', []);
			
			saveMe.config(['$httpProvider', function($httpProvider) {
				$httpProvider.defaults.useXDomain = true;
				delete $httpProvider.defaults.headers.common['X-Requested-With'];
			}]);
			
			saveMe.controller('MainController', ['$scope', '$timeout', '$http', function($scope, $timeout, $http) {
				$scope.map;
				$scope.markers = new Array();
				$scope.directionsService = new google.maps.DirectionsService;
				$scope.directionsDisplay = new google.maps.DirectionsRenderer;
				
				$timeout(function() {
					var initMap = function() {
						$scope.map = new google.maps.Map(document.getElementById('map'), {
							center: {
								lat: -34.397,
								lng: 150.644
							},
							zoom: 10
						});
						$scope.directionsDisplay.setMap($scope.map);
						
						navigator.geolocation.watchPosition(function(position) {
							$scope.coords = position.coords.latitude + ',' + position.coords.longitude;
							$scope.coords2 = (position.coords.latitude + 2) + ',' + position.coords.longitude;
							$scope.map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
						});
					};
					initMap();
				});
				
				$scope.addMarker = function(coordinates, name, icon) {
					var marker = new google.maps.Marker({
						position: coordinates,
						map: $scope.map,
						title: name || '',
						icon: icon
					});
					$scope.markers.push(marker);
				};
				
				$scope.findPath = function(origin, destination) {
					$scope.directionsService.route({
						origin: origin,
						destination: destination,
						travelMode: google.maps.TravelMode.DRIVING
					}, function(response, status) {
						if (status === google.maps.DirectionsStatus.OK) {
							console.log(response);
							$scope.directionsDisplay.setDirections(response);
						} else {
							window.alert('Directions request failed due to ' + status);
						}
					});
				};
			}]);
		</script>
		<style>
			#map {
				width: 800px;
				height: 500px;
			}
		</style>
	</head>
	<body ng-controller="MainController">
		<div id="map" width="400" height="400"></div>
		<input type="button" ng-click="findPath()" value="FindPath">
		<input type="button" ng-click="addMarker({lat: 37, lng: 38}, 'Bliblou', 'http://img2.wikia.nocookie.net/__cb20110607215331/kirby/images/7/73/Kirby_Artwork_%28Wii%29.png')" value="AddMarker">
	</body>
</html>